* {
    margin: 0;
    padding: 0;
}

body {

}

div.maincontent{
    width: 690px;
    margin: 5px auto;
}

ul{
    padding-left: 20px;
}

li{
    list-style: none;
    /*float: left;*/
    margin-right: 15px;
}

div:nth-child(even) {
    background-color: #dddddd;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dddfff;
    padding: 15px 5px;
}

div:nth-child(odd) {
    padding: 15px 5px;
}

div.content {
    background-color: transparent;
    padding: 0;
}

i {
    font-size: 20px;
    font-weight: bolder;
}